{% extends 'header.html' %}

{% block myContent %}
  <header class="showcase">
    <div class="container showcase-inner">
      <div class ="container">
    <style>
        h1 { color: lightyellow; }
        div { color: brown; margin-bottom: 10px }
    </style>
    <h1>Products</h1>
    <div class="row" style="overflow-y: scroll; height: 400px">

        {% for fuel in fuels%}
            <div class="col" style="width: 20rem;">
                <div class="card">
                    <img class="card-img-top" src="{{MEDIA_URL}}{{fuel.image_url}}" alt="...">
                    <div class="card-body" style="height: 20rem;">
                        <h5 class="card-title">Product: {{fuel.name}}</h5>
                        <p class="card-text" style="font-size: 14px;">Price: ${{fuel.price}}/${{fuel.price2}}</p>
                        <p class="card-text" style="font-size: 14px;">Qty: {{fuel.stock}}{{fuel.unit}}</p>
                        <a href="../procedures/" class="btn btn-primary">Procedure</a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
    </div>
    </div>
  </header>
{% endblock %}
