{% extends "header.html" %}
{% block myContent %}
  <header class="showcase">
    <div class="container showcase-inner">
        <div style="text-align:left;overflow-y: overlay;">
        <br><br><br>
      <h2 style="text-align: center">Welcome to</h2>
      <h1 style="text-align: center">Kemuning Oil & Gas!</h1>
      <p>We are a representative to reputable refineries in Russia federation and Asia Pacific. Our suppliers has available allocations which they are ready and willing to serve you better.</p>
      <br>
      <p>We are a registered company in oil & gas field operating as representative to major oil refinery which produce petroleum products of all kinds and we offer services worldwide to interested customers to negotiate purchase of petroleum product from reliable oil producing companies with interested customers in buying and marketing petroleum products and we work directly with leading oil refinery with full title holder of petroleum products especially like: JET FUEL (JP54 & JetA1), VIRGIN D6 FUEL OIL, D2 GAS OIL AND EN590, in stock for SPOT and 12 months contract sales.</p>
    </div>
    </div>
  </header>
  {% endblock %}
